<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Livro - Estante</title>
    <link rel="stylesheet" href="/css/remover.css">
</head>
<body>
    <header class="header">
        <h1 class="title">Estante</h1>
        <a href="/home-logado" class="home-link"><img src="img/moby.png" alt="moby-icon" class="logo"></a>
    </header>
    
    <main>
        <section class="remove-book">
            <h2>Remover Livro</h2>
            <form id="removerLivroForm" action="/removerLivros" method="post" class="form">
                <div class="form-group">
                    <label for="id">ID do Livro:</label>
                    <input type="number" id="id" name="id_livro" placeholder="Insira o ID do livro a ser removido">
                </div>
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Remover Livro</button>
                <p>Não sabe o ID? Verifique <a href="/visualizar">aqui</a></p>
            </form>
            <p id="mensagem"></p>
        </section>
    </main>

    <footer class="footer">
        <nav class="footer-nav">
            <ul>
                <li><a href="/adicionar.html">Adicionar um livro</a></li>
                <li><a href="/editar.html">Editar um livro</a></li>
                <li><a href="/visualizar">Visualizar seus livros</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
